@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins-Regular.otf');
}

:root {
  --color-background: #fffdf7;
  --color-black: #212121;
  --color-black-heavy: #000;
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-primary: #ffbf00;
  --color-secondary: #fff2cc;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #cccccc;
}

html,
body {
  font-family: 'Poppins Regular', 'Rubik', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

b {
  font-family: 'Poppins Medium', 'Rubik', sans-serif;
}

.color-primary {
  color: var(--color-primary);
}

.hidden {
  display: none !important;
}

a.navbar-brand {
  margin-left: -25px;
}

.nav-link {
  color: var(--color-black) !important;
  padding-left: 35px !important;
  padding-right: 75px !important;
}

.btn {
  cursor: pointer !important;
}

.btn.btn-white {
  background-color: var(--color-white);
  color: var(--color-black) !important;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 14px !important;
  border: none;
}

.btn-white.active,
.btn-white:hover {
  background-color: var(--color-primary);
  border: none;
}

.btn.btn-icon .icon {
  color: var(--color-black);
  border-radius: 20px !important;
  background-color: var(--color-primary);
  padding: 10px 15px !important;
}

.banner {
  padding-top: 110px;
  padding-bottom: 200px;
}

.text-banner {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}

.text-banner h1 {
  color: var(--color-black);
  font-size: 60px;
}

.text-banner p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.btn-yellow {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  border-radius: 20px !important;
  padding: 15px 30px !important;
  font-size: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.icon-left {
  background-color: var(--color-primary) !important;
  border-radius: 18px !important;
  padding: 8px 10px !important;
  color: var(--color-white) !important;
}

.btn-sm {
  padding: 9px 15px !important;
  border-radius: 15px;
  font-size: 18px !important;
}

.btn-social {
  width: 50px;
}

.banner .container {
  position: relative;
}

.card-banner {
  height: 450px;
  width: 450px;
  border-radius: 170px;
  background-color: #f4c949;
  position: absolute;
  right: -10px;
  top: -80px;
}

.img-banner img {
  position: absolute;
  width: 570px;
  top: 0;
  right: 0;
}

.card {
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
}

.card-case {
  width: 350px;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.card-case-name {
  position: absolute;
  font-size: 12px;
  color: var(--color-primary);
  right: 20px;
  bottom: 10px;
}

.services {
  padding-top: 100px;
  padding-bottom: 150px;
}

.hint-title {
  color: var(--color-primary);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.title {
  color: var(--color-black);
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.card-icon {
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text {
  color: var(--color-text-out);
  font-size: 15px;
  padding: 0 30px;
}

.card-text p {
  font-size: 22px;
  color: var(--color-black);
  margin-bottom: 10px;
}

.background-services {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  background-image: url('../../public/assets/images/bg-icons-2.png');
}

.dishes {
  position: relative; /* Cria um contexto para a div de fundo */
  padding-top: 50px;
  padding-bottom: 150px;
}

.background-dishes {
  position: absolute;
  left: 0;
  top: 0; /* Ajuste para alinhar ao topo da seção */
  right: 0;
  height: 500px;
  background-image: url('../../public/assets/images/bg-icons-1.png');
  background-size: cover; /* Faz com que a imagem ocupe todo o espaço */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  z-index: -1; /* Coloca a div atrás de outros elementos */
}

.container-menu {
  margin-bottom: 40px;
}

.card-item {
  height: 450px;
}

.card-item .img-product img {
  width: 100%;
  border-radius: 11px;
}

.card-item .title-product {
  color: var(--color-black);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
  margin-bottom: 0;
}

.card-item .price-product {
  color: var(--color-primary);
  font-size: 24px;
}

.card-item .add-cart {
  display: none;
  text-align: center;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.btn-minus {
  color: var(--color-black-heavy);
  padding: 5px 7px;
  border: 2px solid var(--color-black-heavy);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.btn-plus {
  color: var(--color-black-heavy);
  padding: 5px 7px;
  border: 2px solid var(--color-black-heavy);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.add-qnt-items {
  color: var(--color-black-heavy);
  padding: 2px 15px;
  border-top: 2px solid var(--color-black-heavy);
  border-bottom: 2px solid var(--color-black-heavy);
  font-size: 18px;
}

.btn-add {
  border: 2px solid var(--color-black-heavy);
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-black-heavy);
  margin-left: 15px;
}

.card-item:hover {
  background-color: var(--color-primary);
}

.card-item:hover .title-product {
  display: none;
}

.card-item:hover .add-cart {
  display: flex;
}

.card-item:hover .price-product {
  color: var(--color-black-heavy) !important;
  margin-top: 20px;
}

.testimonials {
  padding-top: 100px;
  padding-bottom: 150px;
}

.background-testimonials {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  background-image: url('../../public/assets/images/bg-icons-1.png');
}

.testimonials .container {
  position: relative;
}

.card-testimonials {
  height: 390px;
  width: 390px;
  border-radius: 120px;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
}

.img-testimonials {
  position: absolute;
  width: 570px;
  top: 40px;
  left: -140px;
}

.container-data-testimonial {
  display: flex;
}

.testimonial {
  margin-top: 70px;
}

.img-testimonial {
  width: 65px;
  height: 65px;
  background-color: var(--color-white);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
  background-size: cover;
}

.name-testimonial {
  color: var(--color-black);
  font-size: 22px;
  margin-bottom: 5px;
}

.rank-testimonial {
  color: var(--color-primary);
}

.rank-testimonial span {
  color: var(--color-black);
}

.text-testimonial {
  display: flex;
  font-size: 16px;
  color: var(--color-black);
}

.text-testimonial i {
  font-size: 35px;
  color: var(--color-primary);
}

.text-testimonial i:first-child {
  padding-left: 10px;
  padding-right: 35px;
}

.text-testimonial i:last-child {
  padding-left: 45px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.reservations {
  padding-top: 100px;
  padding-bottom: 150px;
}

.card-secondary {
  background-color: var(--color-secondary);
  border-radius: 70px;
  position: relative;
  padding: 90px;
}

.card-reservation {
  height: 320px;
  width: 320px;
  border-radius: 120px;
  background-color: var(--color-white);
  position: absolute;
  right: 100px;
  top: 70px;
}

.reservations .img-banner img {
  height: 250px;
  position: absolute;
  top: 140px;
  right: 30px;
}

footer {
  background-color: var(--color-secondary);
}

.logo-footer {
  width: 150px;
}

.container-logo-footer,
.container-text-footer,
.container-social-footer {
  display: flex;
  align-self: center;
}

.container-logo-footer {
  justify-content: start;
}
.container-text-footer {
  justify-content: center;
}

.container-social-footer {
  justify-content: end;
}

.modal-full {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  padding-right: 250px;
  height: 100%;
}

.m-header {
  padding-bottom: 20px;
}

.m-body {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
}

.m-body::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

.m-body::-webkit-scrollbar-thumb {
  background-color: var(--color-white);
}

.m-body::-webkit-scrollbar-track {
  background: transparent;
}

.steps {
  display: flex;
}

.step {
  width: 35px;
  height: 35px;
  background-color: var(--color-white);
  border-radius: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.step::before {
  content: '';
  width: 20px;
  background-color: var(--color-separate);
  position: absolute;
  height: 2px;
  margin-left: 55px;
}

.step:last-child::before {
  content: none;
}

.step.active,
.step.active::before {
  background-color: var(--color-primary);
}

.title-cart {
  font-size: 20px;
  color: var(--color-black);
}

.modal-full .item-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-separate);
}

.modal-full .item-cart:last-child {
  border-bottom: none;
}

.modal-full .img-product img {
  width: 100px;
  border-radius: 11px;
}

.modal-full .title-product {
  color: var(--color-black);
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.modal-full .price-product {
  color: var(--color-primary);
  font-size: 24px;
  margin-bottom: 0;
}

.modal-full .data-product {
  flex: 1;
  padding-left: 25px;
  padding-right: 25px;
}

.modal-full .add-cart {
  display: flex;
  text-align: center;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.btn-remove {
  border: 2px solid var(--color-red);
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-red);
  margin-left: 15px;
}

.container-total {
  padding-top: 20px;
  border-top: 1px solid var(--color-separate);
}

.text-delivery {
  color: var(--color-separate);
}

.container-total .text-total {
  color: var(--color-black);
  font-size: 20px;
  margin-top: 10px;
}

.container-total .value-total {
  color: var(--color-primary);
  font-size: 24px;
}

.form-control {
  background-color: var(--color-white);
  color: var(--color-black) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
}
.container-cep {
  position: relative;
}

.container-cep .form-control {
  padding-right: 75px;
}

.container-cep .btn {
  position: absolute;
  right: 10px;
  top: 30px;
}

.img-product-resume img {
  width: 90px;
  border-radius: 11px;
}

.item-cart.resume {
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-product-resume {
  color: var(--color-black);
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}

.price-product-resume {
  color: var(--color-primary);
  font-size: 16px;
  margin-bottom: 0;
}

.qnt-product-resume {
  color: var(--color-black);
  font-size: 20px;
  margin-bottom: 0;
}

.img-map {
  width: 50px;
  height: 50px;
  background-color: var(--color-secondary);
  color: var(--color-black);
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
}

.text-address {
  margin-bottom: 0;
  color: var(--color-black);
}

.city-address {
  margin-bottom: 0;
}

.badge-total-cart {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: var(--color-secondary);
  border-radius: 50px;
  right: -5px;
  top: -5px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cart {
  position: fixed;
  right: 30px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: var(--color-black-heavy) !important;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1000;
}

span.p-dropdown-label {
  color: var(--color-black) !important;
  font-size: 20px;
}
